/**
 * Theme Name: Construction - Construction Company Template
 * Version: 1.0
 * Description: HTML5 Template for Construction Company and Building Services
 * Author: themesparagon
 * Author URI: https://themeforest.net/user/themesparagon
 */

/*
 * Reset Browsers
 * General
 * Elements
 * Forms
 * Typography
 * Extra classes
 * Revolution Slider 
 * Top Bar
 * Header
 * Featured Title
 * Blog Post
 * Pagination
 * Blog Single
 * Widgets
 * Footer
 * Bottom
 * Scroll Top Button
 * Media Queries
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i');

@import "assets/css/bootstrap.min.css";
@import "assets/css/animate.css";
@import "assets/css/animsition.css";
@import "assets/css/cubeportfolio.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/font-awesome.css";
@import "assets/css/flexslider.css";
@import "assets/css/owl.carousel.min.css";
@import "includes/rev-slider/css/settings.css";
@import "includes/rev-slider/css/layers.css";
@import "includes/rev-slider/css/navigation.css";
@import "assets/css/shortcodes.css";

/* Reset Browsers
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit; }article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }body{background-color:#fff;line-height:1; }article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0; }caption,th,td{font-weight:normal;text-align:left; }blockquote:before,blockquote:after,q:before,q:after{content:'';content:none; }blockquote,q{quotes:none}a:focus{outline:none}a:hover,a:active{outline:0}a img{border:0}img{max-width:100%;height:auto; }select{max-width:100%}

/* General
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea { font-family: 'Montserrat', sans-serif; font-weight: 400; color: #777777; font-size: 15px; line-height: 1.9; background-color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; overflow-x: hidden; overflow-y: auto; }
img { height: auto; max-width: 100%; vertical-align: top; -ms-interpolation-mode: bicubic }
p { margin: 0 0 20px; }
strong,
b,
cite { font-weight: bold; }
dfn,
cite,
em,
i,
blockquote { font-style: italic; }
blockquote { margin: 45px 0; padding: 0 20px; border-left: 4px solid #c29764; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }
blockquote > p:last-child { margin-bottom: 0; }
blockquote cite { position: absolute; right: 0; bottom: 0; }
blockquote em,
blockquote i { font-style: normal; }
abbr,
acronym { border-bottom: 1px dotted #f1f1f1; cursor: help; }
mark,
ins { text-decoration: none; }
sup,
sub { font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -6px; }
sub { bottom: -3px; }
small { font-size: 75%; }
big { font-size: 125%; }
address { font-style: italic; margin: 0 0 20px; }
code,
kbd,
tt,
var,
samp,
pre { margin: 20px 0; padding: 8px 12px; background-color: #f9f9f9; border: 1px solid #f1f1f1; overflow-x: auto; font-family: Inconsolata, monospace; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-radius: 0; height: auto; }

/* Elements
-------------------------------------------------------------- */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*,
*:before,
*:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
hr { background-color: #f1f1f1; border: 0; height: 1px; margin-bottom: 20px; }

/* List */
ul,
ol { padding: 0; margin: 0 0 20px 20px; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul,
li > ol { margin-bottom: 0; }
ul li,
ol li { line-height: 1.86em; padding: 0.1em 0; }
dl,
dd { margin: 0 0 20px; }
dt { font-weight: bold; }
del { filter: alpha(opacity=50); opacity: 0.5; }

/* Table */
table,
th,
td { border: 1px solid #f1f1f1; }
table { border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; margin: 0 0 30px; table-layout: fixed; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
th { border-width: 0 1px 1px 0; font-weight: bold; }
td { border-width: 0 1px 1px 0; }
th,
td { padding: 8px 12px; }

/* Media */
embed,
iframe,
object,
video { margin-bottom: 20px; max-width: 100%; vertical-align: middle; }
p > embed,
p > iframe,
p > object,
p > video { margin-bottom: 0; }

/* Accessibility - Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f9f9f9; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input { line-height: normal; }
button, input, select, textarea { font-size: 100%; line-height: inherit; margin: 0; vertical-align: baseline; }
input,
textarea { font-size: 1em; max-width: 100%; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */ }
textarea { overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */ vertical-align: top; /* Improves readability and alignment in all browsers */ }
input[type="checkbox"] { display: inline; }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { line-height: 1; cursor: pointer; -webkit-appearance: button; border: 0; }
input[type="checkbox"],
input[type="radio"] { padding: 0; /* Addresses excess padding in IE8/9 */ }
input[type="search"] { -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ }
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */ -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove chrome yellow autofill */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset }

/* Reset search styling */
input[type="search"] { outline: 0 }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none }

/* Input normal */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { margin-bottom: 20px; border: 1px solid #f1f1f1; padding: 11px 25px; background-color: #fff; font-size: 14px; line-height: inherit; width: 100%; height: auto; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border ease .238s; -moz-transition: border ease .238s; transition: border ease .238s; }

/* Contact Form 7 */
.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input { background-color: #f9f9f9; }

/* Input focus */
select:focus,
option:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus { border-color: #c29764; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* Button */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { font-family: "Montserrat", sans-serif; padding: 18px 25px; border-radius: 3px; background-color: #c29764; color: #fff; font-weight: 600; display: inline-block; -webkit-appearance: none; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }

/* Button hover + focus */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus { outline: 0; background-color: #383838; }

/* Placeholder color */
::-webkit-input-placeholder { color: #c5c5c5; }
:-moz-placeholder { color: #c5c5c5; }
::-moz-placeholder { color: #c5c5c5; opacity: 1; }/* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: #c5c5c5; }

/* Links */
a { color: #c29764; outline: 0; text-decoration: none; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }

a:hover,
a:focus,
a:active { outline: 0; color: #c29764; text-decoration: none }

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Playfair Display', sans-serif; color: #333333; font-weight: 700; line-height: 1.5; margin: 0 0 12px; text-rendering: optimizeLegibility; }

h1 { font-size: 2.428em; } /* 34px */
h2 { font-size: 2.142em; } /* 30px */
h3 { font-size: 1.785em; } /* 25px */
h4 { font-size: 1.428em; } /* 20px */
h5 { font-size: 1.285em; } /* 18px */
h6 { font-size: 1.142em; } /* 16px */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: inherit }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { text-decoration: none }

.font-heading { font-family: "Playfair Display", sans-serif !important; font-weight: 600; line-height: 1.5; }
.font-heading-700 { font-family: "Playfair Display", sans-serif; font-weight: 700; line-height: 1.5; }
.font-body { font-family: "Montserrat", sans-serif !important; }
.font-italic { font-style: italic!important; }

.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-600 { font-weight: 600 !important; }
.font-weight-700 { font-weight: 700 !important; }

/* Extra classes
-------------------------------------------------------------- */
.display-none, .hidden { display: none !important; }
.display-block { display: block !important; }
.display-inline { display: inline !important; }

.overflow-hidden { overflow: hidden; }

.text-accent-color { color: #c29764; }
.text-white { color: #fff !important; }
.text-dark { color: #383838 !important; }
.text-light { color: #fefefe !important; }
.text-very-light { color: #c5c5c5 !important; }

.bg-accent { background-color: #c29764; }
.bg-dark { background-color: #c09c6f !important; }
.bg-dark-2 { background-color: #c2a787 !important; }
.bg-gray { background-color: #f7f7f7 !important; }
.bg-white { background-color: #fff !important; }

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-del { text-decoration: line-through !important; }

.letter-spacing-1px { letter-spacing: 1px !important; }
.letter-spacing-2px { letter-spacing: 2px !important; }
.letter-spacing-3px { letter-spacing: 3px !important; }
.letter-spacing-4px { letter-spacing: 4px !important; }
.letter-spacing-5px { letter-spacing: 5px !important; }
.letter-spacing-6px { letter-spacing: 6px !important; }
.letter-spacing-7px { letter-spacing: 7px !important; }
.letter-spacing-8px { letter-spacing: 8px !important; }
.letter-spacing-9px { letter-spacing: 9px !important; }
.letter-spacing-10px { letter-spacing: 10px !important; }

.font-size-13 { font-size: 13px !important; }
.font-size-14 { font-size: 14px !important; }
.font-size-15 { font-size: 15px !important; }
.font-size-16 { font-size: 16px !important; }
.font-size-17 { font-size: 17px !important; }
.font-size-18 { font-size: 18px !important; }
.font-size-19 { font-size: 19px !important; }
.font-size-20 { font-size: 20px !important; }
.font-size-21 { font-size: 21px !important; }
.font-size-22 { font-size: 22px !important; }
.font-size-23 { font-size: 23px !important; }
.font-size-24 { font-size: 24px !important; }
.font-size-25 { font-size: 25px !important; }
.font-size-26 { font-size: 26px !important; }
.font-size-27 { font-size: 27px !important; }
.font-size-28 { font-size: 28px !important; }
.font-size-29 { font-size: 29px !important; }
.font-size-30 { font-size: 30px !important; }
.font-size-35 { font-size: 35px !important; }
.font-size-40 { font-size: 40px !important; }
.font-size-45 { font-size: 45px !important; }
.font-size-50 { font-size: 50px !important; }
.font-size-55 { font-size: 55px !important; }
.font-size-60 { font-size: 60px !important; }
.font-size-70 { font-size: 70px !important; }
.font-size-80 { font-size: 80px !important; }
.font-size-90 { font-size: 90px !important; }
.font-size-100 { font-size: 100px !important; }

.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.margin-bottom-0 { margin-bottom: 0px !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-bottom-26 { margin-bottom: 26px !important; }
.margin-bottom-28 { margin-bottom: 28px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-35 { margin-bottom: 35px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-bottom-45 { margin-bottom: 45px !important;  }
.margin-bottom-50 { margin-bottom: 50px !important; }
.margin-bottom-55 { margin-bottom: 55px !important; }
.margin-bottom-60 { margin-bottom: 60px !important; }
.margin-bottom-65 { margin-bottom: 65px !important; }
.margin-bottom-70 { margin-bottom: 70px !important; }
.margin-bottom-75 { margin-bottom: 75px !important; }
.margin-bottom-80 { margin-bottom: 80px !important; }
.margin-bottom-85 { margin-bottom: 85px !important; }
.margin-bottom-90 { margin-bottom: 90px !important; }
.margin-bottom-95 { margin-bottom: 95px !important; }
.margin-bottom-100 { margin-bottom: 100px !important; }

.margin-top-0 { margin-top: 0px !important; }
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-16 { margin-top: 16px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-35 { margin-top: 35px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-45 { margin-top: 45px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-top-55 { margin-top: 55px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-top-65 { margin-top: 65px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-top-75 { margin-top: 75px !important; }
.margin-top-80 { margin-top: 80px !important; }
.margin-top-85 { margin-top: 85px !important; }
.margin-top-90 { margin-top: 90px !important; }
.margin-top-95 { margin-top: 95px !important; }
.margin-top-100 { margin-top: 100px !important; }

.no-padding { padding: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
@media screen and (max-width: 959px) {
	.no-padding-left,
	.no-padding-right { padding: 0 !important; }
}

.no-margin { margin: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
@media screen and (max-width: 959px) {
	.no-margin-left,
	.no-margin-right { margin: 0 !important; }
}

.line-height-40 { line-height: 40px; }
.line-height-45 { line-height: 45px; }
.line-height-50 { line-height: 50px; }
.line-height-55 { line-height: 55px; }
.line-height-60 { line-height: 65px; }
.line-height-65 { line-height: 65px; }

/* Revolution Slider
-------------------------------------------------------------- */
.rev_slider_wrapper ul { margin: 0; }
.tparrows.custom { background-color: rgba(0,0,0,0.1); width: 50px; height: 76px; text-align: center; -webkit-transition: background 0.3s; transition: background 0.3s; }
.tparrows.custom:hover { background-color: #c29764; }
.custom.tparrows.tp-leftarrow:before,
.custom.tparrows.tp-rightarrow:before { content: ""; font-family: FontAwesome; font-size: 32px; display: inline-block; text-align: center; line-height: 76px; }
.custom.tparrows.tp-leftarrow:before { content: "\f104"; }
.custom.tparrows.tp-rightarrow:before { content: "\f105"; }
.tp-bullets.custom .tp-bullet { width: 8px; height: 8px; border: 2px solid #fff; background-color: transparent; border-radius: 50%; -webkit-transition: border 0.3s background 0.3s; transition: border 0.3s background 0.3s; }
.tp-bullets.custom .tp-bullet.selected { border-color: #c29764; background-color: #c29764; }

/* Extra Grids
-------------------------------------------------------------- */
/* Clearfix */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after,
.wprt-container:before,
.wprt-container:after { clear: both; display: table; line-height: 0; content: ""; }
.clearfix:after,
.wprt-container:after { clear: both; }

.wprt-row { margin: 0 -10px }
.wprt-row .col { float: left; padding: 0 10px; }
.wprt-row .span_1_of_1.col { float: none }
.wprt-row .span_1_of_2 { width: 50% }
.wprt-row .span_1_of_3 { width: 33.33% }
.wprt-row .span_1_of_4 { width: 25% }
.wprt-row .span_1_of_5 { width: 20% }

/* Gutter */
.wprt-row.gutter-5 { margin-left: -2.5px; margin-right: -2.5px; }
.wprt-row.gutter-5 > .col { padding-left: 2.5px; padding-right: 2.5px}
.wprt-row.gutter-10 { margin-left: -5px; margin-right: -5px; }
.wprt-row.gutter-10 > .col { padding-left: 5px; padding-right: 5px; }
.wprt-row.gutter-15 { margin-left: -7.5px; margin-right: -7.5px; }
.wprt-row.gutter-15 > .col { padding-left: 7.5px; padding-right: 7.5px; }
.wprt-row.gutter-20 { margin-left: -10px; margin-right: -10px; }
.wprt-row.gutter-20 > .col { padding-left: 10px; padding-right: 10px; }
.wprt-row.gutter-25 { margin-left: -12.5px; margin-right: -12.5px; }
.wprt-row.gutter-25 > .col { padding-left: 12.5px; padding-right: 12.5px; }
.wprt-row.gutter-30 { margin-left: -15px; margin-right: -15px; }
.wprt-row.gutter-30 > .col { padding-left: 15px; padding-right: 15px; }
.wprt-row.gutter-35 { margin-left: -17.5px; margin-right: -17.5px; }
.wprt-row.gutter-35 > .col { padding-left: 17.5px; padding-right: 17.5px; }
.wprt-row.gutter-40 { margin-left: -20px; margin-right: -20px; }
.wprt-row.gutter-40 > .col { padding-left: 20px; padding-right: 20px; }
.wprt-row.gutter-45 { margin-left: -22.5px; margin-right: -22.5px; }
.wprt-row.gutter-45 > .col { padding-left: 22.5px; padding-right: 22.5px; }
.wprt-row.gutter-50 { margin-left: -25px; margin-right: -25px; }
.wprt-row.gutter-50 > .col { padding-left: 25px; padding-right: 25px; }
.wprt-row.gutter-60 { margin-left: -30px; margin-right: -30px; }
.wprt-row.gutter-60 > .col { padding-left: 30px; padding-right: 30px; }
.wprt-row.gutter-70 { margin-left: -35px; margin-right: -35px; }
.wprt-row.gutter-70 > .col { padding-left: 35px; padding-right: 35px; }
.wprt-row.gutter-80 { margin-left: -40px; margin-right: -40px; }
.wprt-row.gutter-80 > .col { padding-left: 40px; padding-right: 40px; }

.row.no-gutters { margin-right: 0; margin-left: 0; }
.row.no-gutters > [class*="col-"],
.container-fluid { padding-right: 0; padding-left: 0; }

/* Layout
-------------------------------------------------------------- */
.wprt-container { width: 1170px; margin: 0 auto; max-width: 90%; }
#page { background-color: #fff; }
#main-content { padding: 120px 0; }
.no-padding-content #main-content { padding: 0; }

/* Overrdie for Front-Page and Pages
-------------------------------------------------------------- */
/* Inner Content */
#inner-content,
#inner-sidebar { position: relative; z-index: 1; }

#inner-content:after,
#inner-sidebar:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-style: solid; border-width: 0; z-index: -1; }

/* Sidebar Right (default) */
#site-content { float: left;width: 65.811%; }
#sidebar { float: right;width: 31.623%; }

/* Sidebar Left */
.sidebar-left #site-content { float: right; }
.sidebar-left #sidebar { float: left; }

/* No Sidebar */
.no-sidebar #site-content,
#site-content.archive-project { width: 100% !important; max-width: none !important; float: none !important; }

/* Revolution Slider
-------------------------------------------------------------- */
.tparrows.custom { background-color: rgba(0,0,0,0.1); width: 50px; height: 60px; text-align: center; -webkit-transition: background 0.3s; transition: background 0.3s; }
.tparrows.custom:hover { background-color: #c29764; }
.custom.tparrows.tp-leftarrow:before,
.custom.tparrows.tp-rightarrow:before { content: ""; font-family: FontAwesome; line-height: 60px; font-size: 26px; }
.custom.tparrows.tp-leftarrow:before {content: "\f104"; }
.custom.tparrows.tp-rightarrow:before { content: "\f105"; }
.tp-bullets.custom .tp-bullet { width: 8px; height: 8px; border: 1px solid #fff; background-color: transparent; -webkit-transition: border 0.3s background 0.3s; transition: border 0.3s background 0.3s;}
.tp-bullets.custom .tp-bullet.selected { border-color: #c29764; background-color: #c29764; }

/* Top Bar
-------------------------------------------------------------- */
#top-bar { position: relative; z-index: 1; }
#top-bar, #top-bar a { color: #fff; }
#top-bar:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #c29764; z-index: -1; }
#top-bar-inner { padding: 12px 0; }
#top-bar .top-bar-inner-wrap { display: table; overflow: hidden; width: 100%; }

/* Top Bar Menu */
#top-bar .top-bar-content { display: table-cell; margin: 0; text-align: left; vertical-align: middle; width: 75%; }
#top-bar .top-bar-content .content { position: relative; display: inline-block; padding-left: 28px; margin-right: 44px; line-height: 24px; }
#top-bar .top-bar-content .content:after { content: ""; position: absolute; top: 0; left: 0; font-family: "FontAwesome"; font-size: 20px;  }

#top-bar .top-bar-content .content.phone:after { content: "\f095"; }
#top-bar .top-bar-content .content.email:after { content: "\f003"; font-size: 18px; }
#top-bar .top-bar-content .content.time:after { content: "\f017"; }

#top-bar .top-bar-content .content.email { margin-right: 30px; }

/* Top Bar Socials */
#top-bar .top-bar-socials { display: table-cell; text-align: right; vertical-align: middle; width: 25%; }

#top-bar .top-bar-socials .icons a { display: inline-block; width: 26px; height: 26px; line-height: 26px; text-align: center; font-size: 15px; }

/* Top Bar Style */
body.header-style-1 #top-bar:after { background-color: #000; filter: alpha(opacity=10); opacity: 0.5; }


/* Header
-------------------------------------------------------------- */
#site-header { position: relative; background-color: #fff; z-index: 1; }
#site-header-inner { padding: 23px 0; position: relative; }
#site-header #header-search { position: absolute; right: 0; top: 50%; z-index: 10; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }
#site-header #site-logo { float: left; }

#site-header.style-1 #main-nav { position: absolute; right: 0; top: 50%; z-index: 10; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }

#site-header.style-2 .site-navigation-wrap { background-color: #565656; }
#site-header.style-2 .site-navigation-wrap .inner { position: relative; }

.front-page #site-header.style-2 #main-nav > ul > li > a { color: #fff; line-height: 80px; height: 80px; }
.front-page #site-header.style-2 #header-search .header-search-icon { color: #fff; }


/* Header Aside Content */
#site-header #header-aside { float: right; }
#site-header .wprt-info { float: right; color: #585252; }
#site-header .wprt-info .info-wrap { display: table; overflow: hidden;  width: 100%; }
#site-header .wprt-info .info-i,
#site-header .wprt-info .info-c { display: table-cell; text-align: left; vertical-align: middle; color: #999; font-size: 10px; }
#site-header .wprt-info .info-i { width: 45px; }

#site-header .wprt-info .info-i span { position: relative; z-index: 1; font-size: 35px; color: #c29865;  text-align: center; display: inline-block; }

#site-header .wprt-info .inner { display: table; width: 100%; overflow: hidden; }
#site-header .wprt-info .inner > span { display: table-cell; vertical-align: middle; padding-right: 20px; }
#site-header .wprt-info .inner > span:last-child { padding-right: 0; }
#site-header .wprt-info .solid.inner .info-i span:after { border-style: solid; }
#site-header .wprt-info .dotted.inner .info-i span:after { border-style: dotted; }
#site-header .wprt-info .info-c span { font-size: 15px; font-weight: 700; color: #565656; }

/* Header Search */
#site-header #header-search .header-search-icon { display: inline-block; color: #0d1a2f; width: 40px; height: 40px; text-align: center; line-height: 40px; }
#site-header #header-search .header-search-icon:hover { color: #c29764; }
#site-header #header-search .header-search-form { position: absolute; width: 210px; top: 0px; right: 35px; display: none; }
#site-header #header-search .header-search-field { margin: 0; padding: 6px 25px; }
#site-header .header-search-submit { position: absolute; top: 0; right: 0; width: 80px; height: 46px; padding: 0; display: none; }

/* Navigation */
#main-nav ul { margin: 0; padding: 0; list-style: none; }
#main-nav ul li { position: relative; padding-top: 0; padding-bottom: 0; }
#main-nav > ul > li { float: left; padding: 0 20px; }
#main-nav > ul > li:last-child { padding-right: 0; }
#main-nav > ul > li > a { text-transform: capitalize; font-family: "Playfair Display", sans-serif; font-size: 15px; font-weight: 400; line-height: 50px; display: inline-block; color: #0d1a2f; position: relative; display: block; }

/* Sub menu */
#main-nav ul ul { z-index: 99999; width: 200px; position: absolute; top: 100%; left: 0; background-color: #fff; text-align: left; margin-left: -16px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; visibility: hidden; box-shadow: 0 2px 10px rgba(6, 6, 6, 0.3); -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; -webkit-transform: translateY(5px); -moz-transform: translateY(5px);         transform: translateY(5px); }
#main-nav ul ul:after { content: ""; position: absolute; left: 0; top: -1px; width: 100%; height: 1px; background-color: #c29764; }
#main-nav ul ul li a { padding: 0 30px; line-height: 43px; font-family: "Playfair Display", sans-serif; display: block; border-top: 1px solid #e5e5e5; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#main-nav ul ul li:first-child > a { border-top: 0; }
#main-nav ul ul ul { top: 0; left: 108%; }
/* Hover */
#main-nav ul li:hover > ul { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; visibility: visible; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); }
#main-nav ul ul li:hover > a { color: #fff; background-color: #c29764; }

#main-nav > ul > li.menu-item-has-children > a { position: relative; padding-right: 13px; }
#main-nav > ul > li.menu-item-has-children > a:after,
#main-nav ul ul li.menu-item-has-children > a:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 0; top: 0; font-size: 14px; }
#main-nav ul ul li.menu-item-has-children > a:after { line-height: normal; top: 15px; right: 13px; content: "\f105"; }

/* Mobile Nav */
#site-header #main-nav-mobi { background-color: #333; position: absolute; top: 100%; left: 0; width: 100%; display: block; margin: 0 auto; z-index: 9999; }
#site-header #main-nav-mobi ul { list-style: none; padding: 0; margin: 0; }
#main-nav-mobi ul li { margin:0; position: relative; text-align: center; cursor: pointer; border-top: 1px solid #484848; padding-top: 0; padding-bottom: 0; }
#main-nav-mobi ul > li > a { color: #fff; display: inline-block; line-height: 50px; text-decoration: none; }
#main-nav-mobi .menu-item-has-children .arrow { cursor: pointer; display: inline-block; font-family: "FontAwesome"; font-size: 20px; line-height: 50px; position: absolute; right: 0; text-align: center; top: 0; width: 50px; }
#main-nav-mobi .menu-item-has-children .arrow:before { content: "\f105"; color: #fff; }
#main-nav-mobi .menu-item-has-children .arrow.active:before { content: "\f107"; }
#main-nav-mobi ul ul li { background-color: #292929; }
#main-nav-mobi ul > li:hover > a,
#main-nav-mobi ul > li:hover > .arrow:before { color: #fff; }

/* Mobile Menu Button */
.mobile-button { width: 26px; height: 17px; display: none; float: right; position: absolute; top: 50%; right:0; -webkit-transform: translate3d(0,-50%,0); -moz-transform: translate3d(0,-50%,0); transform: translate3d(0,-50%,0); background: transparent; cursor: pointer; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after, 
.mobile-button span { background-color: #c29764; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after { content: ''; position: absolute; top: 0; height: 3px; width: 100%; left: 0; top: 50%; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.mobile-button span { position: absolute; width: 100%; height: 3px; left: 0; top: 50%; overflow: hidden; text-indent: 200%; }
.mobile-button:before { -webkit-transform: translate3d(0,-7px,0); -moz-transform: translate3d(0,-7px,0); transform: translate3d(0,-7px,0); }
.mobile-button:after { -webkit-transform: translate3d(0,7px,0); -moz-transform: translate3d(0,7px,0); transform: translate3d(0,7px,0); }
.mobile-button.active span { opacity: 0; }
.mobile-button.active:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); -moz-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.mobile-button.active:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); -moz-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }

body.menu-has-search #site-header #main-nav { right: 34px; }

/* Re-style for header 1 */
body.header-style-1 #site-header-wrap { position: absolute; top: 0; left: 0; width: 100%; z-index: 999; }
body.header-style-1 #site-header { background-color: transparent; }
body.header-style-1 #site-header #main-nav > ul > li > a, 
body.header-style-1 #site-header #header-search .header-search-icon { color: #fff; }
body.header-style-1 #site-header #main-nav > ul > li:hover > a,
body.header-style-1 #site-header #header-search .header-search-icon:hover { color: #c29764; }

#site-header #main-nav > ul > li.current-menu-item > a:before { content: ""; width: 100%; height: 2px; background-color: #c29764; position: absolute; bottom: 0; left: 0; }
#site-header #main-nav > ul > li.current-menu-item > a { color: #c29764!important; }
/* Header fixed */
#site-header.is-fixed { position: fixed; left: 0; top: 0; width: 100%; z-index: 9989; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

body.header-style-1 #site-header.is-fixed:after { opacity: 0.7; border: none; }


/* Featured Title
-------------------------------------------------------------- */
#featured-title { background: url(assets/img/bg-page-title.jpg) no-repeat center center; background-size: cover; }
#featured-title-inner { padding-top: 327px; padding-bottom: 190px; }
#featured-title .featured-title-inner-wrap { display: table; width: 100%; overflow: hidden; }

#featured-title .featured-title-heading-wrap { display: table-cell; text-align: left; vertical-align: middle; }
#featured-title .featured-title-heading { color: #fff; font-size: 55px; font-family: "Montserrat", sans-serif; line-height: 60px; letter-spacing: 1.3px; } 

#featured-title #breadcrumbs { display: table-cell; text-align: right; color: #fff; vertical-align: middle; }

/* Blog Post
-------------------------------------------------------------- */
.hentry { margin-top: 50px; }
.hentry:first-child { margin-top: 0; }
.hentry .inner { padding: 40px 70px; border: 1px solid #dedede; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
.hentry img { width: 100%; }
.hentry:hover > .inner { -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.07); -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.07); box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.07); }

/* Title */
.hentry .post-title { font-family: "Playfair Display", sans-serif; font-size: 35px; font-weight: 700; letter-spacing: 1.7px; }

/* Post Meta */
.hentry .post-meta { margin-bottom: 18px; }
.hentry .post-meta .meta { position: relative; }
.hentry .post-meta .meta.comment { float: right; padding-left: 25px; }
.hentry .post-meta .meta:after { content: ""; font-family: "FontAwesome"; position: absolute; top: 0; left: 0; }
.hentry .post-meta .meta.comment:after { content: "\f0e6" }

/* Post Media */
.hentry .post-media { margin-bottom: 30px; }

/* Post Content */
.hentry .post-content {  }
.hentry  .post-read-more { margin-top: 45px; }
.hentry  .post-read-more a { position: relative; display: inline-block; padding-right: 10px; }
.hentry  .post-read-more a:after { content: "\f178"; font-family: "FontAwesome"; position: absolute; top: 0; left: 50%; opacity: 0; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
.hentry  .post-read-more a:hover:after { left: 100%; opacity: 1; }

/* Pagination */
.pagination-page { margin-top: 80px; }
.pagination-page ul { margin: 0; list-style: none; }
.pagination-page ul li .page { width: 40px; height: 40px; line-height: 38px; font-size: 16px; color: #c29865; border: solid 1px #f1f1f1; display: inline-block; text-align: center; vertical-align: middle; margin-right: 15px; }
.pagination-page ul li { display: inline-block; }
.pagination-page ul li .page.curent, 
.pagination-page ul li .page:hover { color: #fff; background-color: #c29764; border-color: #c29764 }

/* Blog Single
-------------------------------------------------------------- */
/* Post Meta Single */
.post-meta-single { border-top: 1px solid #dedede; padding: 30px 0; position: relative; }
.post-meta-single:before { content: "";  width: 58px; height: 1px; background-color: #c29764; position: absolute; top: -1px; left: 0; }
.post-meta-single .post-share .post-meta-share-text,
.post-meta-single .post-share .post-meta-share-icon { display: inline-block; }
.post-meta-single .post-share .post-meta-share-text { padding-right: 20px; font-size: 20px; }
.post-meta-single .post-share .post-meta-share-icon a { color: #fff; width: 37px; height: 37px; text-align: center; line-height: 37px; display:  inline-block; border-radius: 50%; }
.post-meta-single .post-share .post-meta-share-icon a.facebook {background-color: #3b5998; }
.post-meta-single .post-share .post-meta-share-icon a.twitter {background-color: #00acee; }
.post-meta-single .post-share .post-meta-share-icon a.pinterest {background-color: #ca1f27; }
.post-meta-single .post-share .post-meta-share-icon a.google-plus {background-color: #dd4b39; }


/* Post Comment */
#comments { margin-top: 44px; }
#comments #reply-title { position: relative; font-size: 18px; color: #383838; padding-bottom: 24px; margin-bottom: 40px; text-transform: uppercase; }
#comments #reply-title:after { position: absolute; left: 0; bottom: 0; content: ""; width: 70px; height: 2px; background-color: #c29764; }

/* Comment List */
#comments .comments-title { margin-bottom: 30px; }
#comments ol { list-style: none; margin: 0; margin-bottom: 30px; }
#comments ol li .gravatar { float: left; margin-right: 20px; width: 80px; }
#comments ol li .gravatar img { border-radius: 50%; }
#comments ol li .comment-content { overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; }
#comments ol li .comment-reply a { color: #c29764; padding-left: 5px; }
#comments ol li .comment-reply a:hover { color: #232323; }
#comments ol li ul { list-style: none; margin: 0; }
#comments ol li ul li .comment-wrap { margin-left: 100px; }

/* Comment Form */
.comment-respond { position: relative; padding-bottom: 80px; margin-bottom: 40px; border-bottom: 1px solid #dedede; }
.comment-respond:after { content: ""; width: 58px; height: 1px; background-color: #c29764; position: absolute; bottom: -1px; left: 0; }
.name-wrap,
.email-wrap { width: 48.051%; float: left; }
.email-wrap { float: right; }
.message-wrap { width: 100%; }
.form-submit .submit { padding: 13px 25px; }

.name-wrap #author,
.email-wrap #email
.form-submit #comment-reply { font-size: 14px; text-transform: capitalize; }

/* Related Stories */
.related-stories img { width: 100%; }

/* Widgets
-------------------------------------------------------------- */
#sidebar .widget,
#footer-widgets .widget { position: relative; z-index: 1; margin-top: 44px; }
#footer-widgets .widget { margin-top: 0; color: #b3b4b4; }
#sidebar .widget:first-child,
#footer-widgets .widget:first-child { margin: 0; }
#sidebar .widget ul,
#footer-widgets .widget ul { margin: 0; list-style: none; }

#footer-widgets input, #footer-widgets textarea,
#footer-widgets .widget.widget_calendar table,
#footer-widgets .widget.widget_calendar th,
#footer-widgets .widget.widget_calendar td { border-color: #f1f1f1; color: #c7c7c7; }
#footer-widgets hr { background-color: #f1f1f1; }

/* Widget Title */
#sidebar .widget .widget-title, 
#footer-widgets .widget .widget-title { font-family: "Montserrat", sans-serif; font-size: 20px; text-transform: uppercase; font-weight: 600; color: #333; margin-bottom: 40px; }
#footer-widgets .widget .widget-title { font-family: "Playfair Display", sans-serif; font-size: 25px; color: #fff; font-weight: 400; }
#sidebar .widget .widget-title span { display: inline-block; position: relative; }

/* Widget Search Form */
#sidebar .widget.widget_search .search-form, 
#footer-widgets .widget.widget_search .search-form { position: relative; }
#sidebar .widget.widget_search .search-field,
#footer-widgets .widget.widget_search .search-field { margin: 0; padding: 8px 20px; }
#sidebar .widget.widget_search .search-form .search-submit, 
#footer-widgets .widget.widget_search .search-form .search-submit { position: absolute; top: 10px; right: 20px; width: 24px; height: 24px; border: none; padding: 0; text-indent: -9999px;background-color: transparent; }
#sidebar .widget.widget_search .search-form .search-submit:before, 
#footer-widgets .widget.widget_search .search-form .search-submit:before { color: #999; content: "\f002"; font-size: 16px; position: absolute; left: 0px; top: 0px; width: 100%; text-align: center; text-indent: 0; font-weight: normal; -webkit-transition: color ease .238s; -moz-transition: color ease .238s; transition: color ease .238s; font-family: FontAwesome; display: inline-block; line-height: 24px; }
#sidebar .widget.widget_search .search-form .search-submit:hover:before { color: #c29764; }

/* Widget Text */
#sidebar .widget.widget_text p:last-child,
#footer-widgets .widget.widget_text p:last-child { margin-bottom: 0; }

/* Widget: Recent News Advanced */
#sidebar .widget.widget_recent_news ul li,
#footer-widgets .widget.widget_recent_news ul li { border-top: 1px solid #f1f1f1; padding: 20px 0; }
#footer-widgets .widget.widget_recent_news ul li { border-color: #8b93a2; }
#footer-widgets .widget.widget_recent_news ul li { border-color: #8b93a2; }
#sidebar .widget.widget_recent_news ul li .thumb,
#footer-widgets .widget.widget_recent_news ul li .thumb { width: 90px; float: left; margin: 0 22px 0 0; }
#sidebar .widget.widget_recent_news ul li .texts,
#footer-widgets .widget.widget_recent_news ul li .texts { overflow: hidden; }
#sidebar .widget.widget_recent_news ul li .texts h3,
#footer-widgets .widget.widget_recent_news ul li .texts h3 { font-family: "Montserrat", sans-serif; font-size: 15px; font-weight: 400; margin: 0 0 5px; line-height: 28px; }
#sidebar .widget.widget_recent_news ul li .texts h3 a,
#footer-widgets .widget.widget_recent_news ul li .texts h3 a { color: #0d1a2f; letter-spacing: 0.5px; } 
#footer-widgets .widget.widget_recent_news ul li .texts h3 a { color: #abb5c8 }
#sidebar .widget.widget_recent_news ul li .texts h3:hover a { color: #c29764; }
#footer-widgets .widget.widget_recent_news ul li .texts h3:hover a { color: #fff; }
#sidebar .widget.widget_recent_news ul li .texts .post-date,
#footer-widgets .widget.widget_recent_news ul li .texts .post-date { font-size: 14px; line-height: 26px; color: #c29865; font-style: italic; }
#footer-widgets .widget.widget_recent_news ul li .texts .post-date { color: #8b93a2; }
#sidebar .widget.widget_recent_news ul li:first-child,
#footer-widgets .widget.widget_recent_news ul li:first-child { border: none; padding-top: 0; }

/* Widget Tag */
#sidebar .widget.widget_tag_cloud .tagcloud a,
#footer-widgets .widget.widget_tag_cloud .tagcloud a {  font-size: 13px; display: inline-block; padding: 3px 15px; border: 1px solid #f1f1f1; margin: 0 12px 17px 0; color: #c29865; }
#footer-widgets .widget.widget_tag_cloud .tagcloud a { border-color: #3d3d3d; }
#sidebar .widget.widget_tag_cloud .tagcloud a:hover,
#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover { color: #fff; border-color: #c29764; background-color: #c29764; }

/* Widget Categories*/
#sidebar .widget.widget_categories .widget-title { margin-bottom: 14px; }
#sidebar .widget.widget_categories ul li,
#footer-widgets .widget.widget_categories ul li { border-top: 1px solid #f1f1f1; padding: 10px 0; font-family: "Montserrat", sans-serif; text-align: right; color: #c29865; font-size: 16px; }
#footer-widgets .widget.widget_categories ul li { border-color: #3d3d3d; }
#sidebar .widget.widget_categories ul li a,
#footer-widgets .widget.widget_categories ul li a { float: left; color: #565656; }

#sidebar .widget.widget_categories ul li:first-child,
#footer-widgets .widget.widget_categories ul li:first-child { border: none; }
#sidebar .widget.widget_categories ul li:hover,
#sidebar .widget.widget_categories ul li:hover a,
#footer-widgets .widget.widget_categories ul li:hover,
#footer-widgets .widget.widget_categories ul li:hover a { color: #c29764; }

#sidebar .widget.widget_practice_areas ul li,
#footer-widgets .widget.widget_practice_areas ul li { border-bottom: 1px solid #f1f1f1; font-family: "Montserrat", sans-serif; padding: 10px 0; color: #c29865; font-size: 16px; }
#footer-widgets .widget.widget_practice_areas ul li { border-color: #3d3d3d; }
#sidebar .widget.widget_practice_areas ul li a,
#footer-widgets .widget.widget_practice_areas ul li a { color: #565656; }
#sidebar .widget.widget_practice_areas ul li:hover a,
#footer-widgets .widget.widget_practice_areas ul li:hover a { color: #c29764; }

/* Widget Instagram (Sidebar) */
#sidebar .widget.widget_instagram ul { margin: 0 -7.5px; }
#sidebar .widget.widget_instagram ul li { float: left; width: 33.333%; padding: 0; }
#sidebar .widget.widget_instagram ul li .thumb { padding: 0 7.5px; margin-bottom: 15px; }
#sidebar .widget.widget_instagram ul li .thumb span { display: inline-block; position: relative; }
#sidebar .widget.widget_instagram ul li .thumb span:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-width: 2px; border-style: solid; border-color: transparent;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

#sidebar .widget.widget_instagram ul li .thumb span:hover:before { border-color: #c29764; }

/* Footer
-------------------------------------------------------------- */
#footer { background-color: #333; padding-top: 100px; padding-bottom: 100px; }
#footer,
#footer a { color: #b3b4b4; }
#footer-logo { margin-bottom: 33px; }

/* Widget Link */
#footer-widgets .widget.widget_links ul li a {	color: #b3b4b4;	position: relative; display: block; padding-left: 18px; }
#footer-widgets .widget.widget_links ul li a:before { content: "\f105"; font-family: FontAwesome; font-size: 16px; position: absolute; top: 0; left: 0; color: #b3b4b4; }
#footer-widgets .widget.widget_links ul li:hover > a,
#footer-widgets .widget.widget_links ul li:hover > a:before { color: #c19764; }
#footer-widgets .widget.widget_links ul.col2 li { width: 50%; float: left; padding: 0 0 8px; }

/* Widget Infomation */
#footer-widgets .widget.widget_information ul li { padding: 0 0 0 37px; position: relative; color: #b3b4b4; }
#footer-widgets .widget.widget_information ul li i { position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 15px; color: #c19764; }

/* Widget Socials */
#footer .widget.widget_socials { margin-top: 22px; }
#footer .widget.widget_socials .socials .icon { width: 35px; height: 35px; text-align: center; line-height: 35px; float: left; margin-right: 10px; }
#footer .widget.widget_socials .socials .icon a { display: block; color: #8b93a2; }
#footer .widget.widget_socials .socials .icon.active > a,
#footer .widget.widget_socials .socials .icon:hover > a { color: #fff; }

/* Bottom
-------------------------------------------------------------- */
#bottom { background-color: #333; border-top: 1px solid #787878; }
#bottom { color: #b3b4b4; }
#bottom-bar-inner { padding: 20px 0; }
#bottom .bottom-bar-inner-wrap { display: table; overflow: hidden; width: 100%; }
#bottom .bottom-bar-content { display: table-cell; margin: 0; text-align: left; vertical-align: middle; width: 50%;}
#bottom .bottom-bar-menu,
#bottom .bottom-bar-socials { display: table-cell; text-align: right; vertical-align: middle; width: 50%;}

/* Bottom Navigation */
#bottom ul.bottom-nav { list-style: none; margin: 0; }
#bottom ul.bottom-nav > li { display: inline-block; }
#bottom ul.bottom-nav > li > a { padding: 0 20px; }
#bottom ul.bottom-nav > li:last-child a { padding-right: 0; }
#bottom ul.bottom-nav > li > a:hover { color: #fff; }
#bottom ul.bottom-nav ul ul { display: none; }

#bottom .bottom-bar-socials .icons a { width: 37px; height: 37px; display: inline-block; line-height: 37px; text-align: center; background-color: #222221; color: #fff; border-radius: 50%; }
#bottom .bottom-bar-socials .icons a.active,
#bottom .bottom-bar-socials .icons a:hover { background-color: #c19764; color: #fff; }

/* Scroll Top Button
-------------------------------------------------------------- */
#scroll-top { position: fixed !important; right: 30px; bottom: -50px; display: block; line-height: 40px; text-align: center; width: 40px; height: 40px; visibility: hidden; filter: alpha(opacity=0); opacity: 0; z-index: 9191919; cursor: pointer; z-index: 1; overflow: hidden; }
#scroll-top:after { content: "\f106"; font-family: "FontAwesome"; color: #fff; font-size: 16px; position: absolute; left: 0; top: 0; width: 100%; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #c29764; z-index: -1; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:hover:before { background-color: #333; }
#scroll-top:hover:after { color: #fff; }
#scroll-top.show { bottom: 40px; filter: alpha(opacity=100); opacity: 1; visibility: visible; }


/* Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
	.container { width: 1200px; }
}

@media only screen and (max-width: 959px) {
	#top-bar { display: none; }
	
	#main-content { padding: 60px 0; }

	#top-bar .top-bar-content,
	#site-header #main-nav, 
	#site-header #header-aside,
	#site-header #header-search,
	#sidebar { display: none; }

	#site-header .mobile-button { display: block; }
	#site-header #site-header-inner { padding-top: 20px; padding-bottom: 20px; }

	#site-content,
	#sidebar { width: 100% !important; max-width: none !important; float: none; }
	#inner-content { padding-left: 0 !important; padding-right: 0 !important; }

	#top-bar .top-bar-socials,
	#featured-title .featured-title-heading-wrap,
	#featured-title #breadcrumbs { display: block; text-align: center; width: 100%; }

	#featured-title-inner { padding: 190px 0 100px; }
	#featured-title .featured-title-heading { font-size: 45px; }

	#inner-content .hentry .inner { padding: 40px 15px; }
	#inner-content .hentry .post-title { font-size: 25px; }
}

@media only screen and (max-width: 767px) {	
	#site-header #site-logo { width: 167px; }

	#featured-title-inner { padding: 150px 0 90px; }
	#featured-title .featured-title-heading { font-size: 30px; }

	.hentry .post-read-more a { margin-bottom: 10px; }
	.hentry .post-author { text-align: center; }
	.author-post .thumb { width: 70px; }
	.hentry .post-author .author-avatar { float: none; margin: 0 auto 20px; }
	#comments ol li ul li .comment-wrap { margin-left: 70px; }
	#comments ol li .gravatar { width: 50px; float: none; margin: 0 0 17px; }
	.comment-form .name-wrap, .comment-form .email-wrap { width: 100%; float: none; margin: 0; }

	#footer { padding: 50px 0; }
	#footer-widgets .widget { margin-bottom: 40px; }
	#footer-widgets .col .widget:last-child { margin-bottom: 40px; }
	#footer-widgets .col:last-child .widget:last-child { margin-bottom: 0px; }
	#footer-widgets .wprt-row .col { width: 100%; }

	#bottom .bottom-bar-inner-wrap,
	#bottom .bottom-bar-content,
	#bottom .bottom-bar-menu,
	#bottom .bottom-bar-socials { width: 100%; display: block; text-align: center; }
	#bottom .bottom-bar-content { margin-bottom: 10px; }
}
